In [ ]:
a=5
print("I am",a,"years old")

I am 5 years old

operators

In [ ]:
a=5
b=25
print(a+b)
print(a-b)
print(a*b)
print(a%b)

30
-20
125
5

power

In [ ]:
#power
print(2**3)

8

In [ ]:
print(28//7)

4

In [ ]:
a=7
b=7
print(a==b)
print(a>b)
print(a!=b)
print(a<b)
print(a>=b)
print(a<=b)

True
False
False
False
True
True

6 table

In [ ]:
n=6
for i in range(1,11,1):
  a=n*i
  print(a)

6
12
18
24
30
36
42
48
54
60

logical

In [ ]:
a=9
b=25
print((a>b)and(a<b))
print((a>b)or(a<b))

False
True

membership

In [ ]:
a="army"
print("x" in a)

False

control flow

In [ ]:
#condition-if
#write a program to get a number from the user and check whether it is positive or negative
a=int(input("enter a number:"))
if(a>0):
  print(a, "is positive")

enter a number:7
7 is positive

type

In [ ]:
a=int(input("enter a number:"))
print(type(a))

enter a number:4
<class 'int'>

else if

In [ ]:
a=int(input("enter number:"))
if a==0:
  print(a, "is nuetral")
elif a>0:
  print(a, "is positive")
else:
  print(a, "is negative")

enter number:-4
-4 is negative

while loop

In [ ]:
n=int(input("enter a number:"))
i=1
while(i<=n):
  i=i+1
  print(i)

enter a number:7
2
3
4
5
6
7
8

data slicing

In [ ]:
a="python is easy"
print(a[: :-1])
print(a[4:7:1])

ysae si nohtyp
on

7 table

In [ ]:
n=int(input("enter a number"))
a=7
i=1
while(i<=n):
  b=a*i
  i=i+1
  print(b)

enter a number10
7
14
21
28
35
42
49
56
63
70

collections:
list:
-list is a collection o elements
-heterogenous
-mutable(modifiable)

In [ ]:
l1=[74,"neha",22.79]
print(l1)

[74, 'neha', 22.79]

list

In [ ]:
l1=[74,"neha",22.79]
for i in l1:
  print(i)

74
neha
22.79

In [ ]:
a=75
l1.append(a)
print(l1)

[74, 'neha', 22.79, 97, 75]

In [ ]:
l2=[1,"hema",3.7]
l2.insert(2,"neha")
print(l2)

[1, 'hema', 'neha', 3.7]

In [ ]:
l1.extend(l2)
print(l1)

NameError: name 'l1' is not defined

In [ ]:
l1.pop(2)
print(l1)

[74, 'neha', 97, 75, 1, 'vyshu', 'neha', 3.7]

In [ ]:
l1.remove(97)
print(l1)

[74, 'neha', 75, 1, 'vyshu', 'neha', 3.7]

In [ ]:
l3=[1,2,7.4,4.7,5]
max(l3)

7.4

list comprehension
-iterates
-applies some function on every element
-conditions
-output=list

In [ ]:
l1=[1,2,3,4,5]
l2=[i**2 for i in l1]
print(l2)

[1, 4, 9, 16, 25]

In [ ]:
l3=[i**2 for i in l2 if i>=3]
print(l3)

[16, 81, 256, 625]

#the salaries of 5 employees in a company is taken as a list.the tax is 10% if the salary is less than or equal to 50000
#or it is 15%
#create a new list with tax amounts
#[67000,45000,89000,34000,50000]
#list_name=[body of if condition else body of else iterate]

In [ ]:
sal=[67000,45000,89000,34000,50000]
tax=[]
for i in sal:
  if i<=50000:
    t=i*0.1
    tax.append(t)
  else:
    t=i*0.15
    tax.append(t)
print(tax)

[10050.0, 4500.0, 13350.0, 3400.0, 5000.0]

In [ ]:
#list_name=[(body of if) if(condition) else (body of else) iterate]
sal=[67000,45000,89000,34000,50000]
tax=[i*0.1 if i<=50000 else i*0.15 for i in sal]
print(tax)

[10050.0, 4500.0, 13350.0, 3400.0, 5000.0]

In [ ]:
a=5
b=12.25
print(a+b)#implicit
print(int(a+b))#explicit

17.25
17